<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Repeat Counter</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Repeat Counter</h1>
                <h2><em>a very helpful [read: useless] tool.</em></h2>
            </div>
            <h3>You give us a word and a sentence, and we'll tell you how many times that word shows up in your sentence.</h3>

            <form action="/result">
                <div class="form-group">
                    <input type="text" placeholder=' Word' name="word" value="">
                    <input type="text" placeholder=' Sentence' name="sentence" value="">
                </div>
                <button type="submit" class="btn btn-info">Count 'Em</button>
            </form>
        </div>
    </body>
</html>
