<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <title>Repeat Counter</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron brick">
                <h1>Repeat Counter</h1>
                <h2><em>a very helpful [read: useless] tool.</em></h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well brick">
                        <h3>You give us a word and pick a song from the drop-down list below. <br>
                        We tell you how many times that word shows up in the selected song.</h3>
                    </div>
                </div>
            </div>
            <form action="/result">
                <div class="row">
                    <div class="col-md-6">
                        <div class="well brick">
                            <input type="text" placeholder=' Word' name="word" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well brick">
                            <input type="hidden" name="lyrics-label" id="lyrics-label">
                            <select name="lyrics">
                                <option selected="--">Select a Song</option>
                                <option label="Lose Yourself" value="
                                Look
                                If you had
                                One shot
                                Or one opportunity
                                To seize everything you ever wanted
                                In one moment
                                Would you capture
                                Or just let it slip?
                                Yo
                                His palms are sweaty, knees weak, arms are heavy
                                There's vomit on his sweater already, mom's spaghetti
                                He's nervous, but on the surface he looks calm and ready
                                To drop bombs, but he keeps on forgettin'
                                What he wrote down, the whole crowd goes so loud
                                He opens his mouth, but the words won't come out
                                He's chokin', how, everybody's jokin' now
                                The clocks run out, times up, over, blaow!
                                Snap back to reality, oh there goes gravity
                                Oh, there goes Rabbit, he choked
                                He's so mad, but he won't give up that easy? No
                                He won't have it, he knows his whole back city's ropes
                                It don't matter, he's dope, he knows that, but he's broke
                                He's so stacked that he knows, when he goes back to his mobile home, that's when its
                                Back to the lab again yo, this whole rhapsody
                                He better go capture this moment and hope it don't pass him
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                The souls escaping, through this hole that its gaping
                                This world is mine for the taking
                                Make me king, as we move toward a, new world order
                                A normal life is borin', but super stardom's close to post mortem
                                It only grows harder, only grows hotter
                                He blows us all over these hoes is all on him
                                Coast to coast shows, he's known as the globetrotter
                                Lonely roads, God only knows, he's grown farther from home, he's no father
                                He goes home and barely knows his own daughter
                                But hold your nose 'cause here goes the cold water
                                His hoes don't want him no mo, he's cold product
                                They moved on to the next schmo who flows, he nose dove and sold nada
                                So the soap opera is told and unfolds, I suppose it's old partna, but the beat goes on
                                Da da dumb da dumb da da
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                No more games, I'm a change what you call rage
                                Tear this motherfuckin' roof off like two dogs caged
                                I was playin' in the beginnin', the mood all changed
                                I been chewed up and spit out and booed off stage
                                But I kept rhymin' and stepwritin' the next cipher
                                Best believe somebody's payin' the pied piper
                                All the pain inside amplified by the
                                Fact that I can't get by with my nine to
                                Five and I can't provide the right type of
                                Life for my family 'cause man, these God damn food stamps don't buy diapers
                                And its no movie, there's no Mekhi Phifer
                                This is my life and these times are so hard
                                And it's getting even harder tryin' to feed and water my seed, plus
                                See dishonor caught up between bein' a father and a prima-donna
                                Baby mama drama screamin' on and too much
                                For me to want to say in one spot, another jam or not
                                Has gotten me to the point, I'm like a snail I've got
                                To formulate a plot fore I end up in jail or shot
                                Success is my only motherfuckin' option, failures not
                                Mom, I love you, but this trail has got to go, I cannot grow old in Salem's lot
                                So here I go is my shot
                                Feet fail me not 'cause maybe the only opportunity that I got
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                You better lose yourself in the music, the moment
                                You own it, you better never let it go
                                You only get one shot, do not miss your chance to blow
                                This opportunity comes once in a lifetime you better
                                You can do anything you set your mind to, man
                                ">"Lose Yourself" - Eminem</option>

                                <option label="Forgot About Dre" value="Y'all know me, still the same O.G. but I been low-key
                                Hated on by most these niggas with no cheese, no deals and no G's
                                No wheels and no keys, no boats, no snowmobiles, and no skis
                                Mad at me cause I can finally afford to provide my family with groceries
                                Got a crib with a studio and it's all full of tracks to add to the wall
                                Full of plaques, hanging up in the office in back of my house like trophies
                                Did y'all think I'mma let my dough freeze, ho please
                                You better bow down on both knees, who you think taught you to smoke trees
                                Who you think brought you the oldies
                                Eazy-E's, Ice Cubes, and D.O.C's
                                The Snoop D-O-double-G's
                                And the group that said motherfuck the police
                                Gave you a tape full of dope beats
                                To bump when you stroll through in your hood
                                And when your album sales wasn't doing too good
                                Who's the Doctor they told you to go see
                                Y'all better listen up closely, all you niggas that said that I turned pop
                                Or The Firm flopped, y'all are the reason that Dre ain't been getting no sleep
                                So fuck y'all, all of y'all, if y'all don't like me, blow me
                                Y'all are gonna keep fucking around with me and turn me back to the old me

                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre

                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre

                                So what do you say to somebody you hate
                                Or anyone tryna bring trouble your way
                                Wanna resolve things in a bloodier way
                                Then just study a tape of N.W.A
                                One day I was walking by
                                With a Walkman on
                                When I caught a guy
                                Give me an awkward eye
                                And I strangled him up in the parking lot
                                With his Karl Kani
                                I don't give a fuck if it's dark or not
                                I'm harder than me tryna park a Dodge
                                When I'm drunk as fuck
                                Right next to a humongous truck in a two-car garage
                                Hopping out with two broken legs
                                Trying to walk it off
                                Fuck you too bitch, call the cops
                                I'mma kill you and them loud-ass motherfucking barking dogs
                                And when the cops came through
                                Me and Dre stood next to a burnt down house
                                With a can full of gas and a hand full of matches
                                And still weren't found out
                                From here on out it's the Chronic II
                                Starting today and tomorrow's anew
                                And I'm still loco enough to choke you to death with a Charleston Chew
                                Slim Shady, hotter then a set of twin babies
                                In a Mercedes Benz with the windows up
                                When the temp goes up to the mid-80s
                                Calling men ladies, sorry, Doc, but I been crazy
                                There's no way that you can save me, it's okay, go with him Hailie
                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre
                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre
                                If it was up to me, you motherfuckers would stop coming up to me
                                With your hands out looking up to me, like you want something free
                                When my last CD was out, you wasn't bumping me
                                But now that I got this little company
                                Everybody wanna come to me like it was some disease
                                But you won't get a crumb from me
                                Cause I'm from the streets of Compton
                                I told 'em all, all them little gangstas
                                Who you think helped mold 'em all
                                Now you wanna run around talking bout guns like I ain't got none
                                What you think I sold 'em all, cause I stay well off
                                Now all I get is hate mail all day saying Dre fell off
                                What cause I been in the lab with a pen and a pad
                                Tryin' to get this damn label off
                                I ain't havin' that, this is the millennium of Aftermath
                                It ain't gonna be nothin' after that
                                So give me one more platinum plaque and fuck rap, you can have it back
                                So where's all the Mad Rappers at
                                It's like a jungle in this habitat
                                But all you savage cats
                                Know that I was strapped with gats
                                While you were cuddling a Cabbage Patch
                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre
                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre
                                Nowadays everybody wanna talk like they got something to say
                                But nothing comes out when they move their lips
                                Just a bunch of gibberish
                                And motherfuckers act like they forgot about Dre
                                ">"Forgot About Dre" - Dr. Dre</option>

                                <option label="Straight Outta Compton" value="
                                You are now about to witness the strength of street knowledge
                                Straight outta Compton, crazy motherfucker named Ice Cube
                                From the gang called Niggas With Attitudes
                                When I'm called off, I got a sawed off
                                Squeeze the trigger, and bodies are hauled off
                                You too, boy, if ya fuck with me
                                The police are gonna hafta come and get me
                                Off yo ass, that's how I'm goin out
                                For the punk motherfuckers that's showin out
                                Niggaz start to mumble, they wanna rumble
                                Mix em and cook em in a pot like gumbo
                                Goin off on a motherfucker like that
                                With a gat that's pointed at yo ass
                                So give it up smooth
                                Ain't no tellin when I'm down for a jack move
                                Here's a murder rap to keep yo dancin
                                With a crime record like Charles Manson
                                AK-47 is the tool
                                Don't make me act the motherfuckin fool
                                Me you can go toe to toe, no maybe
                                I'm knockin niggaz out tha box, daily
                                Yo weekly, monthly and yearly
                                Until them dumb motherfuckers see clearly
                                That I'm down with the capital C-P-T
                                Boy you can't fuck with me
                                So when I'm in your neighborhood, you better duck
                                Cause Ice Cube is crazy as fuck
                                As I leave, believe I'm stompin
                                But when I come back, boy, I'm comin straight outta Compton
                                (City of Compton, City of Compton)
                                 Yo Ren
                                 Whassup?
                                 Tell em where you from!
                                Straight outta Compton, another crazy ass nigga
                                More punks I smoke, yo, my rep gets bigger
                                I'm a bad motherfucker and you know this
                                But the pussy ass niggaz don't show this
                                But I don't give a fuck, I'm a make my snaps
                                If not from the records, from jackin the crops
                                Just like burglary, the definition is 'jackin'
                                And when illegally armed it's called 'packin'
                                Shoot a motherfucker in a minute
                                I find a good piece o' pussy, I go up in it
                                So if you're at a show in the front row
                                I'm a call you a bitch or dirty-ass ho
                                You'll probably get mad like a bitch is supposed to
                                But that shows me, slut, you're composed to
                                A crazy muthafucker from tha street
                                Attitude legit cause I'm tearin up shit
                                MC Ren controls the automatic
                                For any dumb muthafucker that starts static
                                Not the right hand cause I'm the hand itself
                                Every time I pull a AK off the shelf
                                The security is maximum and that's a law
                                R-E-N spells Ren but I'm raw
                                See, cause I'm the motherfuckin villain
                                The definition is clear, you're the witness of a killin
                                That's takin place without a clue
                                And once you're on the scope, your ass is through
                                Look, you might take it as a trip
                                But a nigga like Ren is on a gangsta tip
                                Straight outta Compton...
                                (City of Compton, City of Compton)
                                 Eazy is his name and the boy is comin...
                                ... straight outta Compton
                                Is a brotha that'll smother yo' mother
                                And make ya sister think I love her
                                Dangerous motherfucker raises hell
                                And if I ever get caught I make bail
                                See, I don't give a fuck, that's the problem
                                I see a motherfuckin cop I don't dodge him
                                But I'm smart, lay low, creep a while
                                And when I see a punk pass, I smile
                                To me it's kinda funny, the attitude showin a nigga drivin
                                But don't know where the fuck he's going, just rollin
                                Lookin for the one they call Eazy
                                But here's a flash, they never seize me
                                Ruthless! Never seen like a shadow in the dark
                                Except when I unload, see I'll get over the hesitation
                                And hear the scream of the one who got the last penetration
                                Give a little gust of wind and I'm jettin
                                But leave a memory no one'll be forgettin
                                So what about the bitch who got shot? Fuck her!
                                You think I give a damn about a bitch? I ain't a sucker!
                                This is the autobiography of the E, and if you ever fuck with me
                                You'll get taken by a stupid dope brotha who will smother
                                Word to the motherfucker, straight outta Compton
                                (City of Compton, City of Compton)
                                (Damn that shit was dope!)
                                ">"Straight Outta Compton" - N.W.A.</option>

                                <option label="One Mic" value="
                                One time... yeah, yeah
                                Yo, all I need is one mic, one beat, one stage
                                One nigga front, my face on the front page
                                Only if I had one gun, one girl and one crib
                                One god to show me how to do things his son did
                                Pure, like a cup of virgin blood; mixed with
                                151, one sip'll make a nigga flip
                                Writin names on my hollow tips, plottin shit
                                Mad violence who I'm gon' body, this hood politics
                                Ackowledge it, leave bodies chopped in garbages
                                Seeds watch us, grow up and try to follow us
                                Police watch us, roll up and try knockin us
                                One knee I ducked, could it be my time is up
                                But my luck, I got up, the cop shot again
                                Bus stop glass bursts, a fiend drops his heineken
                                Richochetin between the spots that I'm hidin in
                                Blackin out as I shoot back, fuck gettin hit!
                                This is my hood I'ma rep, to the death of it
                                'Til everybody come home, little niggaz is grown
                                Hoodrats, don't abortion your womb, we need more warriors soon
                                Sip from the star sun and the moon
                                In this life of police chases street sweepers and coppers
                                Stick-up kids with no conscience, leavin victims with doctors
                                If you really think you ready to die, with nines out
                                This is what nas is bout, nigga the time is now!

                                Yo, all I need is one mic...
                                All I need is one mic, that's all I need
                                All I need is one mic, all I need niggaz
                                All I need is one mic, yeah

                                All I need is one blunt, one page, and one pen
                                One prayer, tell god forgive for one sin
                                Matter fact maybe more than one, look back
                                At all the hatred against me, fuck alla them
                                Jesus died at age 33, there's thirty-three shots
                                From twin glocks there's sixteen apiece, that's thirty-two
                                Which means, one of my guns was holdin 17
                                Twenty-seven hit your crew, six went into you
                                Everybody gotta die sometime; hope your funeral
                                Never gets shot up, bullets tear through the innocent
                                Nothin is fair, niggaz roll up, shootin from wheelchairs
                                My heart is racin, tastin revenge in the air
                                I let the shit slide for too many years, too many times
                                Now I'm strapped with a couple of macs, too many nines
                                If y'all niggaz really wit me get busy load up the semis
                                Do more than just hold it explode the clip until you empty
                                There's nothin in our way - they bust, we bust, they rust, we rust
                                Led flyin, feel it? I feel it in my gut
                                That we take these bitches to war, lie 'em down
                                Cause we stronger now my nigga the time is now!!

                                All I need is one mic, that's all I need, that's all I need
                                All I need is one mic, there's nuttin else in the world
                                All I need is one mic, that's all a nigga need to do his thing why'know
                                All I need is one mic

                                All I need is one life, one try, one breath I'm one man
                                What I stand for speaks for itself, they don't understand
                                Or want to see me on top, too egotistical
                                Talkin all that slick shit, the same way these bitches do
                                Wonder what my secrets is, niggaz'll move on you
                                Only if they know, what your weakness is I have none
                                Too late to grab guns I'm blastin cause I'm a cool nigga
                                Thought I wouldn't have that ass done? fooled you niggaz
                                What you call a infinite brawl, eternal souls clashin
                                War gets deep, some beef is everlastin
                                Complete with thick scars, brothers knifin each other
                                Up in prison yards, drama, where does it start?
                                You know the block was ill as a youngster
                                Every night it was like a, cop would get killed body found in the dumpster
                                For real a hustler, purchased my range, niggaz throwin dirt on my name
                                Jealous cause fiends got they work and complain
                                Bitches left me cause they thought I was finished
                                Shoulda knew she wasn't true she came to me when her man caught a sentence
                                Diamonds are blindin, I never make the same mistakes
                                Movin with a change of pace, lighter load, see now the king is straight
                                Swellin my melon cause none of these niggaz real
                                Heard he was, tellin police, how can a kingpin squeal?
                                This is crazy, I'm on the right track I'm finally found
                                You need some soul searchin, the time is now

                                All I need is one mic, yeah, yeah
                                All I need is one mic, that's all I ever needed in this world, fuck cash
                                All I need is one mic, fuck the cars, the jewelry
                                All I need is one mic, to spread my voice to the whole world

                                ">"One Mic" - Nas</option>

                                <option label="Big Pimpin'" value="
                                Uh, uh uh uh
                                It's big pimpin baby (thats right)
                                It's big pimpin, spendin G's
                                Feel me uh-huh uhh, uh-huh
                                Ge-ge-geyeah, geyeah
                                Ge-ge-geyeah, geyeah

                                You know I thug em, fuck em, love em, leave em
                                Cause I don't fuckin' need em
                                Take em out the hood, keep em lookin' good
                                But I don't fuckin' feed em
                                First time they fuss I'm breezin'
                                Talkin' bout, 'What's the reasons?'
                                I'm a pimp in every sense of the word, bitch
                                Better trust than believe em
                                In the cut where I keep em
                                'Til I need a nut, 'til I need to beat the guts
                                Then it's, beep beep and I'm pickin' em up
                                Let em play with the dick in the truck
                                Many chicks want to put Jigga fist in cuffs
                                Divorce him and split his bucks
                                Just because you got good head, I'm a break bread
                                So you can be livin' it up? Shit I
                                Parts with nothin', y'all be frontin'
                                Me give my heart to a woman?
                                Not for nothin', never happen
                                I'll be forever mackin'
                                Heart cold as assassins, I got no passion
                                I got no patience
                                And I hate waitin'
                                Hoe get yo' ass in
                                And let's ride, check em out now
                                Ride, yeah
                                And let's ride check em out now
                                Ride, yeah

                                We doin, big pimpin, we spendin' cheese
                                Check em out now
                                Big pimpin', on B.L.A.D.'s
                                We doin big pimpin up in N.Y.C.
                                It's just that Jigga Man, Pimp C, and B-U-N B
                                Yo yo yo big pimpin, spendin' cheese
                                We doin' big pimpin, on B.L.A.D.'s
                                We doin' big pimpin up in N.Y.C.
                                It's just that Jigga Man, Pimp C, and B-U-N B

                                Nigga it's the big Southern rap impresario
                                Comin' straight up out the black barrio
                                Makes a mill' up off a sorry hoe
                                Then sit back and peep my scenario
                                Oops, my bad, that's my scenario
                                No I can't fuck a scary hoe
                                Now every time, every place, everywhere we go
                                Hoes start pointin', they say, 'There he go!'
                                Now these motherfuckers know we carry mo' heat than a little bit
                                We don't pull it out over little shit
                                And if you catch a lick when I spit, then it won't be a little hit
                                Go read a book you illiterate son of a bitch and step up yo' vocab
                                Don't be surprised if yo' hoe stab out with me
                                And you see us comin' down on yo' slab
                                Livin' ghetto fabulous, so mad, you just can't take it
                                But nigga if you hatin' I
                                Then you wait while I get yo' bitch butt-naked, just break it
                                You gotta pay like you weigh wet wit two pairs of clothes on
                                Now get yo' ass to the back as I'm flyin' to the track
                                Timbaland let me spit my pro's on
                                Pump it up in the pro-zone
                                That's the track that we breakin' these hoes on
                                Ain't the track that we flows on
                                But when shit get hot, then the glock start poppin' like ozone
                                We keep hoes crunk like Trigger-man
                                Fo' real it don't get no bigger man
                                Don't trip, let's flip, gettin' throwed on the flip
                                Gettin' blowed with the motherfuckin' Jigga Man, fool

                                We be big pimpin' spendin' cheese
                                We be big pimpin' on B.L.A.D.'s
                                We be big pimpin' down in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B
                                Cause we be big pimpin', spendin' cheese
                                And we be big pimpin', on B.L.A.D.'s
                                Cause we be big pimpin' in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B nigga

                                Uh smokin' out, throwin' up, keepin' lean up in my cup
                                All my car got leather and wood, in my hood we call it buck
                                Everybody want to ball, holla at broads at the mall
                                If he up, watch him fall, nigga I can't fuck with y'all
                                If I wasn't rappin' baby, I would still be ridin' Mercedes
                                Chromin' shinin' sippin' daily, no rest until whitey pay me
                                Uh now what y'all know bout them Texas boys
                                Comin' down in candied toys, smokin' weed and talkin' noise

                                We be big pimpin, spendin cheese
                                We be big pimpin, on B.L.A.D.'s
                                We be big pimpin down in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B
                                Cause we be big pimpin, spendin' cheese
                                And we be big pimpin, on B.L.A.D.'s
                                Cause we be big pimpin in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B nigga

                                On the canopy, my stamina be, enough for Pamela Anderson Lee
                                Made my money quick then back to the streets but
                                Still sitting on blades... sipping that ray
                                Standing on the corner of my block hustling
                                Still getting that cane
                                double what I paid slipping right through customs
                                It'll sell by night its egg shell white
                                I got so many grams if the man find out
                                It will land me in jail for life
                                But I'm still big pimping, spending cheese
                                With B.U.N. B, Pimp C, and Timothy
                                We got bitches in the back of the truck, laughing it up
                                Jigga Man: that's what's up

                                We be big pimpin, spendin cheese
                                We be big pimpin, on B.L.A.D.'s
                                We be big pimpin down in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B
                                Cause we be big pimpin, spendin' cheese
                                And we be big pimpin, on B.L.A.D.'s
                                Cause we be big pimpin in P.A.T.
                                It's just that Jigga Man, Pimp C, and B-U-N B
                                ">"Big Pimpin'" - Jay-Z</option>
                            </select>
                            <!-- <input type="text" placeholder=' Sentence' name="sentence" value=""> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <div class="well brick">
                            <button type="submit" class="btn btn-info">Count 'Em</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
